.sebm-google-map-container {
  height: 500px;
}


.widget-pane{
  width:408px;
  position:absolute;
  top:0;
  z-index:3;
  opacity:0;
  height:0;
  left:0;
  transform:translateX(0px);
  transition-property:-webkit-transform,transform,opacity;
  transition-duration:0.2s;
  transition-timing-function:cubic-bezier(0.0,0.0,0.2,1)
}


.widget-pane.widget-pane-collapsed {
  transform: translateX(-408px);
}

.widget-pane-visible {
  opacity: 1;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: #fff;
}


.widget-pane-toggle-button-container {
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 100%;
  display: none;
}

.widget-pane-visible .widget-pane-toggle-button-container {
  display: block;
}


.widget-pane-toggle-button{
  width: 23px;
  height: 48px;
  cursor: pointer;
  background: rgba(255,255,255,0.9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQ…ueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/7px 10px no-repeat;
  border-left: 1px solid #D4D4D4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
